.header {
  grid-column: full-start / col-end 6;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
  }

  padding: 4rem 8rem;
  background-image: linear-gradient(to right bottom, rgba($color-secondary, 0.83), rgba($color-secondary, 0.93)),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  gap: 2rem;
  // Center the grid
  justify-content: center;

  @media only screen and (max-width: $bp-small) {
    padding: 2rem 4rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    text-align: center;
    color: $color-grey-light-2;
    font-size: 1.6rem;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
    align-items: center;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    /* Using flex
    display: flex;
    justify-content: space-evenly;
    */
    // Using CSS grid
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;

      filter: brightness(60%);
    }
  }
}
